@page "/products"
@layout BackendLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@inject IProductService MainService
@inject ICategoryService CategoryService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <NavLink href='products' class="kt-subheader__breadcrumbs-link">
                        Products
                    </NavLink>
                </h3>
                @*@if (Action == "create" || Action == "edit")
                    {
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <div class="kt-subheader__breadcrumbs">
                            <NavLink href="javascript:void(0)" class="kt-subheader__breadcrumbs-link">
                                @(Id > 0? "Editar":"Nuevo")
                            </NavLink>
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                        </div>
                    }*@
            </div>
        </div>
    </div>

    @if (ModelData != null)
    {
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Main View
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href='/products' class="dropdown-item"><i class="fa fa-random"></i>Refresh</a>
                                        <a href="javascript:void(0)" class="dropdown-item" @onclick="() => OnEdit(0)" data-toggle="modal" data-target="#modal_createedit"><i class="fa fa-plus"></i>Add New</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        <EditForm Model="@ModelData" OnValidSubmit="OnFilter" class="kt-form kt-form--label-right">
                            <DataAnnotationsValidator />

                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Search</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" @bind="ModelData.Filter" name="Filter" />
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-lg-3">
                                        <div>
                                            <label>Categories</label>
                                            <select class="form-control" @onchange="@(e => { CategoryId = long.Parse((string)e.Value); })" name="CategoryId">
                                                <option value="0">-All-</option>
                                                @if (lCategories != null)
                                                {
                                                    foreach (var dt in lCategories)
                                                    {
                                                        <option value="@dt.Id">@dt.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>

                        <!--end::Form-->
                    </div>
                </div>
            </div>

            @if (ModelData.Ldata != null && ModelData.Ldata.Count > 0)
            {
                <div class="row">
                    <div class="col-xl-12">

                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Products List
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">

                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="kt-section__content table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Picture</th>
                                                    <th>Name</th>
                                                    <th>Category</th>
                                                     <th>Stock</th>
                                                    <th>Description</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var dt in ModelData.Ldata)
                                                {
                                                    <tr>
                                                        <th scope="row"><img src="@dt.Base64" style="width:100px;" /></th>
                                                        <td scope="row">@dt.Name</td>
                                                        <td scope="row">@(dt.Category?.Name??"")</td>
                                                        <td scope="row">@dt.InStock</td>
                                                        <td scope="row">@dt.Description</td>
                                                        <td style="text-align:right">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnEdit(dt.Id)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>Edit</a>
                                                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnDelete(dt.Id)" data-toggle="modal" data-target="#modal_delete" data-ktportlet-tool="delete"><i class="fa fa-trash"></i>Delete</a>                                                                    
                                                                </div>
                                                            </div> 
                                                            <!-- /btn-group -->
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Section-->

                            </div>
                            <div class="kt-portlet__foot">
                                <BlazorPager CurrentPage="@(ModelData.PagIdx + 1)"
                                             PageCount="@ModelData.Total"
                                             VisiblePages="@(ModelData.PagesCount>3?3:ModelData.PagesCount)"
                                             ShowFirstLast="true"
                                             ShowPageNumbers="true"
                                             FirstText="&laquo;"
                                             LastText="&raquo;"
                                             NextText="&rsaquo;"
                                             PreviousText="&lsaquo;"
                                             OnPageChanged="(async e => { await OnPagingChange(e);})">
                                </BlazorPager>
                            </div>
                            <!--end::Form-->
                        </div>

                        <!--end::Portlet-->

                    </div>
                </div>

            }

        </div>

        <!-- Modal Creat/Edit -->
        <div class="modal fade" id="modal_createedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@(ModelData.Data.Id > 0? "Edit Section" : "New Section")</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <!--begin::Portlet-->
                        <div class="kt-portlet" style="margin-bottom:0px !important;">

                            <EditForm Model="@ModelData.Data" OnValidSubmit="SaveData" class="kt-form kt-form--label-right">
                                <DataAnnotationsValidator />
                                @*<ValidationSummary />*@
                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                                            <div>
                                                                <label>Picture</label><br />
                                                                <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar_1">
                                                                    @*<div class="kt-avatar__holder" style="background-image: url(@ModelData.Data.Base64);min-width:240px;"></div>*@
                                                                    <img src="@ModelData.Data.Base64" style="width:100%!important;min-width:150px;" />
                                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                        <i class="fa fa-pen"></i>
                                                                        @*<input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">*@
                                                                        <InputFile OnChange="@OnFileSelection" accept=".png, .jpg, .jpeg" name="profile_avatar"></InputFile>

                                                                        <input type="hidden" class="form-control" @bind="ModelData.Data.Base64" name="Base64" />
                                                                    </label>
                                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                                                        <i class="fa fa-times"></i>
                                                                    </span>
                                                                </div>
                                                                <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                                                            </div>
                                                        </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <label>Name</label>
                                            <input type="text" class="form-control" @bind="ModelData.Data.Name" name="Name" />
                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Data.Name) /></p>
                                            
                                            <input type="hidden" class="form-control" @bind="ModelData.Data.Id" name="Id" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <label>In Stok</label>
                                            <input type="text" class="form-control" @bind="ModelData.Data.InStock" name="InStock" />
                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Data.InStock) /></p>
                                            
                                            <input type="hidden" class="form-control" @bind="ModelData.Data.InStock" name="InStock" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <label>Category</label>
                                            <select class="form-control" @bind="ModelData.Data.CategoryId" name="CategoryId">
                                                @if (lCategories != null)
                                                {
                                                    foreach (var dt in lCategories)
                                                    {
                                                        <option value="@dt.Id">@dt.Name</option>
                                                    }
                                                }
                                            </select>
                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Data.CategoryId) /></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                       <div>
                                          <label>Description</label>
                                          <textarea rows="4" class="form-control" @bind="ModelData.Data.Description">@ModelData.Data.Description</textarea>
                                       </div>
                                    </div>                                    
                                </div>                                    
                                </div>

                                <div class="kt-portlet__foot" style="padding:10px!important">
                                    <div class="kt-form__actions text-right">

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" @onclick="Cancel" id="btnCloseSaveModal">Cancel</button>

                                        <button type="submit" class="btn btn-primary">Save</button>

                                    </div>
                                </div>
                            </EditForm>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <!--begin::Portlet-->
                        <div class="kt-portlet" style="margin-bottom:0px !important;">

                            <div class="kt-portlet__body">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div>
                                            <h5>Are you sure you want to delete selected item?</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="kt-portlet__foot" style="padding:10px!important">
                                <div class="kt-form__actions text-right">
                                    <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal" aria-label="Close">No</button>

                                    <button type="button" class="btn btn-md btn-primary" data-dismiss="modal" @onclick="DeleteData">Yes</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    }


</div>

@code {

    protected GenericModel<DataModel.Product> ModelData = null;
    protected List<DataModel.Category> lCategories = null;

    long categoryId;
    private long CategoryId
    {
        get { return categoryId; }
        set { categoryId = value; OnFilter();}
    }

    protected override async Task OnParametersSetAsync()
    {
        ModelData = new GenericModel<DataModel.Product>();
        ModelData.Data = new DataModel.Product();
        lCategories = new List<Category>();

        await UpdateData();
        await FetchData();
    }

    protected override void OnAfterRender(bool firstRender)
    {

    }

    protected async Task FetchData()
    {
        //Title = "Gateways List";
        ModelData.ErrorMsg = null;
      
        lCategories = await CategoryService.GetAll();
        ModelData.Ldata = await MainService.FindAll(ModelData.Filter, ModelData.PagIdx, ModelData.PagAmt, CategoryId);
        ModelData.Total = ModelData.Ldata?.Count??0;
        StateHasChanged();
    }

    protected async Task SaveData()
    {
        var result = await MainService.Save(ModelData.Data);
        if (result != null)
        {
            await JsRuntime.InvokeVoidAsync("ShowMessage", "data has been saved successfully");
            //UrlNavigationManager.NavigateTo("/warehouse/brands/fetch");
            await JsRuntime.InvokeVoidAsync("OpenCloseModal", "#btnCloseSaveModal");
                       
            await FetchData();
        }
        else
            await JsRuntime.InvokeVoidAsync("ShowError", "data could not be saved");
    }

    protected async Task DeleteData()
    {
        var result = await MainService.Delete(ModelData.Data.Id);
        if (result != null)
        {
            await JsRuntime.InvokeVoidAsync("ShowMessage", "data has been deleted successfully");
            //UrlNavigationManager.NavigateTo("/warehouse/brands/fetch");

            await JsRuntime.InvokeVoidAsync("OpenCloseModal", "#btnCloseDeleteModal");
                        
            await FetchData();
        }
        else
            await JsRuntime.InvokeVoidAsync("ShowError", "data could not be deleted");
    }

    protected async Task Cancel()
    {
        await FetchData();
    }

    protected async Task OnPagingChange(int pIndex)
    {
        if (ModelData.PagesCount < pIndex)
            return;

        ModelData.PagIdx = pIndex - 1;

        await FetchData();
    }

    protected async Task OnFilter()
    {
        ModelData.PagIdx = 0;

        await FetchData();
    }

    /// <summary>
    /// /////////////
    /// </summary>

    private async Task OnEdit(long id)
    {
        var result = await MainService.Get(id);
        if (result == null)
        {
            result = new DataModel.Product();
        }

        ModelData.Data = result;

        StateHasChanged();
    }

    private async Task OnDelete(long id)
    {
        ModelData.Data = new DataModel.Product() { Id = id };

        StateHasChanged();
    }
   
    protected async Task UpdateData()
    {
        StateHasChanged();
    }

    private async Task OnFileSelection(InputFileChangeEventArgs e)
    {
        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string imageType = imgFile.ContentType;
        ModelData.Data.Base64 = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";
    }
    
}
